img{
    width: 100px;
    height: 90px;
    margin-right: 20px;
    margin-left: 20px;
}
h1{
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}
h1,p,li{
    color: white;
}
h2{
    font-size: 65px;
}
